body  /*Sur toute la page*/
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Change la police d'écriture*/
    font-size: 20px;
}

.unlink /*Retire l'effet bleu ou violet et sousligné par défaut des liens avec la classe unlink*/
{
    text-decoration: none;
    color: unset;
}

input
{
    font-size: inherit;
}

/*Contenu de la page sans l'en-tête et le footer*/
div.content
{
    text-align: center;
    margin: auto;
    top: 270px;
    position: relative;
}

/*Message quand on passse la souris dessus*/
.tooltip-text
{
    display: inline-block;
    position: absolute;
    background : #BBB;
    color: #fff;
    padding: 0.3em;
    border-radius: 1em;
    visibility: hidden;
}

.tooltip
{
    cursor: pointer;
}

.tooltip:hover .tooltip-text
{
    visibility: visible;
}

/*Cases du tableau périodique*/
.atom-cell
{
    border : solid 2px black;
    padding: 6px;
    width: 3em;
    height: 3em;
    margin: auto;
    background : white;
    display: inline-block;
    text-align: center;
}

.atom-cell:hover
{
    transform: scale(1.7);
    text-decoration: none;
}

/*Couleurs*/
.cyan
{
    color: #00C3FF;
}

/* En-tête qui s'affiche sur toute les pages*/
header
{
    background: #222;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 2.5em;
    font-weight: bold;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

header img{
    max-width: 100%;
}

header a
{
    margin: 0 12px;
}

a:hover
{
    text-decoration: underline; /*Sous ligne les liens quand on passe la souris dessus*/
}

.back
{
    position: absolute;
    left: 0;
    height: 2em;
    width: auto;
    cursor: pointer;
}

img.back:hover
{
    filter: invert(52%) sepia(93%) saturate(1622%) hue-rotate(159deg) brightness(102%) contrast(108%);
}

.hide{
    display: none !important;
}

#errorBox{
    color: red;
    position: fixed;
    max-width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    border: dashed red 2px;
    border-radius: 3em;
    background: rgb(255, 213, 213);
    cursor: default;
}

body.blur :not(#errorBox){
    opacity: .4;
}

.underlined{
    text-decoration: underline;
}