body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header
{
    background: #222;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 2.5em;
    font-weight: bold;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

header a
{
    margin: 0 12px;
}

a:hover
{
    text-decoration: underline;
}

.unlink
{
    text-decoration: none;
    color: unset;
}