header{
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

header img{
    max-width: 100%;
    height: 15vh
}

#links{
    display: inline-flex;
    justify-content: center;
}

.dropdown{
    --width: clamp(6em, 20vw, 10em);
    --padding: .2em;

    margin: .3em .9em;
    margin-bottom: 0;
    background: var(--secondary);
    border-top-right-radius: .3em;
    border-top-left-radius: .3em;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    width: var(--width);
    padding: var(--padding);
    user-select: none;

    &:hover .dropdown-children{
        max-height: 10em;
    }

    & .dropdown-children{
        border-top: dashed var(--background) 4px;
        transition: max-height 300ms;
        max-height: 0;
        position: absolute;
        flex-direction: column;
        display: flex;
        background: inherit;
        border-bottom-left-radius: .3em;
        border-bottom-right-radius: .3em;
        left: 0;
        top: calc(1.5em + var(--padding));
        width: calc(var(--width) + var(--padding)*2);
        padding: 0;
        overflow: hidden;

        & a{
            color: white;
            text-decoration: none !important;
            padding: .2em;
        
            &:hover, &.active{
                background: var(--primary);
            }
        }
    }
}