canvas{
    width: clamp(28em, 40vw, 100em);
    aspect-ratio: 2;
}

.alpha-slider{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.round-label{
    width: 1em;
    height: 1em;
    border-radius: 100%;
}