.page {
    width: 16.5em;
    aspect-ratio: 1;
    font-size: clamp(.8em, 1.8vw, 1em);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    box-shadow: inset 0 0 2em var(--gray);
    transition-duration: 300ms;
    margin: 1em;
    text-decoration: none !important;
    justify-content: flex-start;
    border-radius: .5em;
}

.page:hover {
    transform: scale(1.2);
}

.page-text {
    position: relative;
    bottom: 0;
    left: 0;
    color: var(--background);
    text-shadow: 2px 0 var(--text), -2px 0 var(--text), 0 2px var(--text), 0 -2px var(--text), 1px 1px var(--text), -1px -1px var(--text), 1px -1px var(--text), -1px 1px var(--text);
    max-width: 70%;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em;
    text-align: left;

    & svg {
        color: var(--background);
        filter:
            drop-shadow(.05em .05em .05em var(--text)) drop-shadow(-.05em -.05em .05em var(--text)) drop-shadow(-.05em .05em .05em var(--text)) drop-shadow(.05em .05em .05em var(--text));
    }
}

#pages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 95vw;

    &>* {
        text-decoration: none !important;
    }
}