.fullscreened {
    background: var(--background);
}

.toogle-fullscreen {
    cursor: pointer;

    &:hover {
        color: var(--accent);
        filter: drop-shadow(var(--accent) 0 0 4px);
    }
}