:root {
    /*Color palette */

    --background: #FFF;
    --text: #000;
    --primary: #222;
    --secondary: #333;
    --accent: rgb(255, 145, 0);
    --gray: #aaa;
    --cyan: #00C3FF;
}


body,
#root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*Change la police d'écriture*/
    font-size: 20px;
    background: var(--background);
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*Retire l'effet bleu ou violet et sous-ligné par défaut des liens avec la classe unlink*/
.unlink {
    text-decoration: none;
    color: unset;
}

input,
select {
    font-size: inherit;
}

/*Contenu de la page sans l'en-tête*/
.content {
    text-align: center;
    margin: auto;
    width: 100vw;
    overflow: hidden;
    margin-bottom: 1em;
}

/*Message quand on passse la souris dessus*/
.tooltip-text {
    display: inline-block;
    position: absolute;
    background: var(--gray);
    color: var(--background);
    padding: 0.3em;
    border-radius: 1em;
    visibility: hidden;
}

.tooltip {
    cursor: pointer;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.cyan {
    color: var(--cyan);
}

a:hover {
    text-decoration: underline;
    /*Sous ligne les liens quand on passe la souris dessus*/
}

.back {
    position: absolute;
    left: 0;
    height: 2em;
    width: auto;
    cursor: pointer;
}

.back:hover {
    filter: invert(52%) sepia(93%) saturate(1622%) hue-rotate(159deg) brightness(102%) contrast(108%);
}

.hide {
    display: none !important;
}

.error {
    display: inline-block;
    margin: auto;

    padding: .5em;
    font-size: 1.1em;
    border-radius: 3em;

    color: red;
    border: dashed red 2px;
    background: rgb(255, 213, 213);
}

body.blur :not(#errorBox) {
    opacity: .4;
}

.underlined {
    text-decoration: underline;
}

form {
    display: inline-grid;
}

ul {
    display: inline-grid;
}

.formulas {
    display: flex;
    justify-content: center;
    padding: 4px;
}

.formulas form,
#formula-result {
    padding: 1em;
    border: var(--primary) dashed;
    margin: 12px 1em;
}

li {
    text-align: left;
}

.shadow-box {
    box-shadow: var(--gray) 0 0 1em 0.1em;
    border-radius: .5em;
    margin: 0.5em;
}

input[type="checkbox"] {
    height: 1em;
    width: 1em;
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    height: 1.5em;
    padding: 0;
    width: 1.5em;
    margin: .2em;
    outline: none !important;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
    border-radius: 0;
    border-radius: .2em;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: 0;
    border-radius: .2em;
}

::-moz-focus-inner {
    padding: 0;
}

.align-between {
    display: inline-flex;
    justify-content: space-between;
    width: 90vw;
    align-items: center
}

button {
    outline: 0;
    border-radius: .2em;
    font-size: 1em;
    background: var(--secondary);
    color: var(--background);
    cursor: pointer;
    padding: .3em;
    border: 0;
    box-sizing: border-box;
    box-shadow: .1em .1em 0 .2em var(--gray);
    transition: 100ms all;

    &:active {
        box-shadow: 0 0 0 .1em var(--gray);
        transform: translate(.1em, .1em);
    }
}

.accent-hover {
    cursor: pointer;

    &:hover {
        color: var(--accent);
    }
}